.button {
  color: black;
  border: 2px solid #008cba;
  border-radius: 6px;
  margin: 2px;
  padding: 4px;
  background-color: white;
  font-size: 0.65em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button:hover {
  border: 4px solid #008cba;
  padding: 2px;
}
.button-on {
  background-color: #aa8cba;
  color: white;
}
