.App {
  text-align: center;
}

.App-header {
  background-color: #ddfbdd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}
.App-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
