.number-bar {
  display: flex;
  color: black;
  margin-bottom: 4px;
  user-select: none;
}

.number {
  height: calc((var(--grid) - 30px) / 9);
  width: calc((var(--grid) - 30px) / 9);
  box-sizing: border-box;
  position: relative;
}
.number-normal {
  font-size: 2rem;
}
.number-corner {
  font-size: 0.65rem;
  position: absolute;
  display: block;
  left: 3%;
  top: 0%;
}
.number-center {
  font-size: 0.65rem;
}
