.button-bar {
  display: flex;
  color: black;
  margin-top: 4px;
  user-select: none;
}

.vertical-divider {
  border-right: 1px solid;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 1px;
}
